@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @{
            Html.RenderPartial("Menu");
        }
        <h1>Introdução ao Jquery !! </h1>
        O <a href='http://pt.wikipedia.org/wiki/JQuery'>Jquery</a> é uma <a href='http://pt.wikipedia.org/wiki/Framework'>framework</a> escrita em Javascript<br />
        Ela foi desenvolvida para simplificar os scripts que interagem com o HTML do lado do cliente.<br />
        Criada em 2006 e utilizada por 55% dos 10 mil sites mais vistados do mundo<br />
        A sintaxe do jQuery foi desenvolvida para tornar mais simples a navegação do documento HTML, a seleção dos elementos DOM, criar animações, <br />
        manipular eventos e desenvolver aplicações AJAX.
    </div>
</body>
</html>
