@{
    Layout = null;
}

<ul>
    <li><a href='/Aula/Um'>Aula 1 - Recordando Javascript</a></li>
    <li><a href='/Aula/Dois'>Aula 2 - Utilizando Jquery</a></li>
    <li><a href='/Aula/Tres'>Aula 3</a></li>
</ul>